@charset "UTF-8";
@font-face {
    font-family: sigmar;
    src: url(fontes/SigmarOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: rochester;
    src: url(fontes/Rochester-Regular.ttf) format("truetype");
}
*{
    font-size: 2vw;
}
header{
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-size: 7vw;
    font-family: sigmar, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    font-variant: small-caps;
}
a{
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    font-style: italic;
    text-decoration: underline;
}
body{
    margin: 0px;
    border:1px solid black
}
img{
    display: block;
    margin: auto;
}
section > p{
    background-image: none;
    text-align: left;
    font-size: 4vw;
    padding-left: 15px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: auto;
    font-family: rochester, Arial, Helvetica, sans-serif;
    line-height: 1.6cm;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    font-size: 4vw;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.866);
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: auto;
    font-family: rochester, Arial, Helvetica, sans-serif;
    line-height: 1.6cm;
    display: inline-block;
    top: 5%;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.734);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
section#joana{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    
    background-position: right center;
    
}
section#folha{
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    
}
footer>p{
    margin: 0px;
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
}